{% load core %}

<div class="card">
    <h2 style="text-align: center; margin-top: 10px;">{{pleito}}</h2>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                {% for candidato in candidatos %}
                <div class="col-12 form-group" style="margin-bottom: 2rem;">
                    <h4 for="{{candidato.id}}">{{candidato.nome}}</h4>
                    <input type="number" class="form-control" id="{{candidato.id}}" name="{{candidato.id}}">
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-12" style="text-align: end;">
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </div>
            </div>
        </form>
    </div>
</div>
