@font-face {
   font-family: Intro-Regular;
   src: url(../font/intro/Intro.otf);
}

@font-face {
   font-family: Intro-Black;
   src: url(../font/intro/Intro-Black.otf);
}

@font-face {
   font-family: Intro-Book;
   src: url(../font/intro/Intro-Book.otf);
}

@font-face {
   font-family: BebasNeue-Bold;
   src: url(../font/intro/BebasNeue-Bold.otf);
}


* {
   font-family: BebasNeue-Bold;
}



.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}


.container {
	width: auto;
	max-width: 680px;
	padding: 0 15px;
}


.footer {
	background-color: #f5f5f5;
}


.barra-topo{
	background-color: #d7d7d752;
	min-height: 1rem;
	position: sticky;
	align-items: center;
	padding: 1.0rem 1rem;
}


.conteudo {
	margin-top: 100px;
	padding: 10px;
}

.candidato {
    max-width: 40%;
    height: 100px;
    position: absolute;
    margin: -8px 0px 0px -100px;
}


.trapezio {
    border-bottom: 70px solid #c1c1c1;
    border-left: 30px solid transparent;
    border-right: 15px solid transparent;
    height: 0;
    width: 120px;
}

.list-group-item{
    border: none;
    padding: inherit;
    margin: 40px 5px 20px 5px;
    min-width: 660px;
    max-width: 1000px;
    box-shadow: 7px 5px 5px #48574b54;
    background: rgb(17,55,94);
    background: linear-gradient(90deg, rgba(17,55,94,0.9836309523809523) 22%, rgba(61,133,184,2.969625) 72%, rgba(42,79,134,1) 100%);
}

 .list-group-item:first-child {
    border-radius: 0;
 }

 .list-group-item:last-child {
    border-radius: 0;
 }


h1{
	text-shadow: #13538d99 0.1em 0.1em 0.2em;
}

h2{
	text-shadow: #335370c2 0.1em 0.1em 0.2em
}

span{
	//text-shadow: #2255806b 0.1em 0.1em 0.2em;
}

hr{
    border-top: 1px solid rgb(37 57 30);
    margin-left: 14px;
    margin-top: 21px;
    width: 380px;
}


.votos-numero{
	margin-bottom: -10px;
}


body{
	font-family: 'Tangerine', serif;
}

main{
	margin: 40px 0px 0px 0px;
}
