{% extends 'core/bases/core.html' %}
{% load static %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'assets/css/divulgaCV_final.css' %}">
{% endblock %}
{% block style %}
<style>
    body{
        background-image: url("{% static 'assets/img/fundo02.png' %}");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
{% endblock %}
{% block extrabottomjs %}{% endblock %}
{% block script %}{% endblock %}
{% block body %}

<main role="main" class="flex-shrink-0" style="margin-top:40px; margin-left: 10px;">
    <div class="conteudo">
        <div class="panel-body container" style="">    
            <h1 style="color: #dfebe7;text-align: center;">APURAÇÃO - AO VIVO</h1> 
            <div class="panel-body container row">
                  {% for pleito in pleitos %}
                  <div class="col-sm-6" style="margin-top:10px;">
                    <a style="color: #3f534c;text-decoration: none;background-color: transparent;text-align: center;" class="card-text" href="{% url 'apuracao' pleito.id  %}">
                        <div class="card">
                          <div class="card-body">
                            <h1 style="padding-top: 9px;">{{pleito.nome}}</h1>
                          </div>
                        </div>
                    </a>
                  </div>
                  {% endfor%}  
            </div>
            <div class="panel-body container" style="padding-top: 100px;">    
               <h1 style="color: #dfebe7;text-align: center;">LANÇAMENTO</h1>            
               <div class="row">
                  {% for pleito in pleitos %}
                  <div class="col-sm-6" style="margin-top:10px;">
                    <a style="color: #3f534c;text-decoration: none;background-color: transparent;text-align: center;" class="card-text" href="{% url 'lancamento' pleito.id %}">
                        <div class="card">
                          <div class="card-body">
                            <h1 style="padding-top: 9px;">{{pleito.nome}}</h1>
                          </div>
                        </div>
                    </a>
                  </div>
                  {% endfor %}             
              </div>   
            </div>
      </div>
    </div>
</main>
{% endblock %}
